@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    background-color: #020113;
    color: white;
}
html, body {
    height: 100%;
    margin: 0;
}
*{
    /* border: 1px solid red; */
}
.active-tab {
    @apply bg-white text-black border-b-2 border-black;
  }
.ChnageTheBorder{
    border: 0.1px solid rgba(255, 255, 255, 0.295);
    position: relative;
    left: 10px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}
/* .ChnageTheBorder > *:hover{
    color: rgba(255, 255, 255, 0.61);
} */
 .TheLogo{
    width: 65px;
}
.TheHeader{
    padding: 0px;
    padding-top: 5px;
    position: sticky;
    top: 15px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    /* background-color: red; */
    padding: 0px 10px;
}
.TheBGImage{
    background-image: url('/assets/images/one.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0px 0px 200px 90px #030214;
}
.TheQout{
    font-family: "Mukta", serif;
    font-weight: 400;
    font-style: normal;
}
.TheQoutDiv{
    padding-top: 23%;
}
/* From https://css.glass */

.TheGlassE{
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 300px;
    transition: all .3s linear;
}
.TheGlassEDIT{
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .3s linear;
}
.TheGlassEFFHover:hover{
    box-shadow: 0px 0px 20px -1px rgba(255, 255, 255, 0.568);
    transform: translateY(-10px);

}
.ThePaddingButton{
    padding: 5px 8px;
}

html {
    scroll-behavior: smooth;
  }
.TheWofIcon{
    /* border: 1px solid red; */
    height: 150px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}
.TheMidBTN{
    padding: 5px 50px;
    font-size: 18px;
}
.TheCardOfAboutUS{
    background: #0e213079;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.BigTXT{
    line-height: 2.2cm;
    letter-spacing: 1px;
}
.TheImageABU{
    /* height: 95%; */
    /* width: 9; */
    /* width: 100%; */
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.gridTest{
    grid-column: 1fr 0.5fr;
}
.TheBlockOfCard{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.TheLongCardEDIT{
        background: #0e213056;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.TheInputChagne{
    outline: none;
    border: none;
}
.TheFoucsInput{
    transition: all .2s linear;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.164);
}
.TheFoucsInput:focus{
    border-color: white;
}
.TheGlassFormEFF{
    background: #151515f8;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.TheBorderOfInptu > *{
    /* border: 1px solid red   ; */
}
.TheTop{
    top: 14px;
}
.checkbox-wrapper-16 *,
.checkbox-wrapper-16 *:after,
.checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #1b1b1b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #808080;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #969696;
  border-color: #a3a3a3;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #ffffff;
}
.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #919191;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #333333;
}
.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #1b1b1b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #3c3c3f;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #b1b1b1;
}
.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}
